*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}
:root {
  --clr-bg: #5b483a;
  --clr-primary: #f1cdb3;
  --clr-light: #ffffff;
  --clr-light-s: #fafafa;
  --clr-light-l: #f6f6f6;
  --clr-dark: #cdcdcd;
  --clor-dark-m: #b2b2b2;
  --clr-dark-l: #545454;
  --clr-dark-xl: #4c4c4c;
  --clr-black: #211f20;

  --font-primary: ;
}
h1,
h2,
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
}
h1 {
  color: var(--clr-light);
}
h2,
h3 {
  color: var(--clr-dark-l);
  font-size: 2rem;
}
p {
  font-size: 1rem;
}
img {
  max-width: 100%;
}

.header {
  background-color: var(--clr-light);
  height: 100%;
  display: flex;
  min-height: 60px;
  padding: 2em;
}
h1 {
  color: var(--clr-dark-l);
  font-size: 2rem;
  letter-spacing: 0.06rem;
}
.header p {
  color: var(--clr-dark-xl);
  font-size: 0.8rem;
  letter-spacing: 0.08rem;
}
.header--logo {
  white-space: nowrap;
}
.nav {
  margin: auto;
}
.nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
}
li {
  list-style-type: none;
  padding: 1em;
  word-wrap: no-wrap;
}
li:active {
  text-decoration: underline var(--clr-primary) 2px;
}
a {
  text-decoration: none;
  color: var(--clr-dark-xl);
}
.nav li:nth-child(2) a {
  text-decoration: underline var(--clr-primary) 2px;
}
a:hover {
  text-decoration: underline var(--clr-primary) 2px;
}
.header--logo-link:hover {
  text-decoration: none;
}
.section--btn-clr {
  background: var(--clr-primary);
  border-radius: 100px;
  padding: 1em;
  font-family: Georgia, serif;
  font-size: 1rem;
  color: var(--clr-black);
  border: none;
  width: max-content;
}
button > a {
  color: var(--clr-black);
  font-family: Georgia, serif;
}
.card:hover button,
button:hover,
button:active,
button:focus {
  cursor: pointer;
  background-color: #eebc99;
  transform: scale3d(1.1);
}

/* Our friends */

.section--our-friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--clr-light-l);
  padding: 4em 0;
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 2em;
  max-width: 100%;
  align-items: center;
  /* padding-left: 2em;
  margin-left: auto; */
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-light-s);
  margin: 1em;
  padding-bottom: 2em;
  border-radius: 9px;
}
.card > * {
  font-size: 1.5rem;
  padding: 0.5em 0;
}
.card--btn-light {
  background-color: var(--clr-light-s);
  border-radius: 6.25em;
  padding: 0.9375em 2.8125em;
  font-size: 1.0625rem;
  font-family: Georgia, serif;
  color: var(--clr-black);
  border: 2px solid var(--clr-primary);
  width: max-content;
}

.arrow {
  border: 2px solid #f1cdb3;
  padding: auto;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  background-color: var(--clr-light-s);
  font-size: 1.2rem;
  margin: auto 0.5em;
}
.pagination-btn {
  display: flex;
}
.arrow:nth-child(3) {
  background-color: var(--clr-primary);
}

@media screen and (max-width: 1268px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
  h2 {
    font-size: 1.5625rem;
  }
}

/* hover */
.section--help-card:hover,
.section--help-card:focus,
.section--help-card:active,
.card:hover,
.card:focus,
.card:active,
.section--in-adition-credit-card:hover,
.section--in-adition-credit-card:focus,
.section--in-addition:active {
  cursor: pointer;
  transform: scale(1.05);
  transition: ease-in-out;
}
button:disabled,
.disabled:hover {
  cursor: default;
  text-decoration: none;
  border: 1px solid var(--clr-dark);
  background-color: var(--clr-light-l);
  color: var(--clr-dark-l);
}
/* footer */
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 1em;
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%),
    linear-gradient(0deg, #211f20, #211f20);
  color: var(--clr-light);
  font-size: 1.25rem;
  line-height: 2.2rem;
  padding: 2em;
}
.footer h3 {
  color: var(--clr-light);
  font-size: 1.65rem;
}
.footer img {
  max-width: 80%;
}

.footer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer > div > * {
  padding: 0.35em 0;
}
@media screen and (max-width: 1268px) {
  .footer {
    grid-template-areas: "one two";
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 0;
  }
  .footer--img {
    grid-area: 2 / 1 / 3 / 3;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    grid-template-areas: "one";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
  }
  .footer--img {
    grid-area: 3 / 1 / 4 / 2;
  }
}
/* hambuger */
.toggle-btn {
  position: absolute;
  top: 2.8125rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.burger {
  width: 100%;
  height: 3px;
  background-color: var(--clr-dark-xl);
  border-radius: 10px;
}

.toggle-btn.active {
  transform: rotate(90deg);
}
@media screen and (max-width: 768px) {
  .toggle-btn {
    display: flex;
  }
  .nav {
    display: none;
    width: 100%;
  }
  h2 {
    font-size: 1.5625rem;
  }
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav ul {
    width: 100%;
    flex-direction: column;
  }
  .nav li {
    padding-bottom: 1.25rem;
    font-size: 2rem;
  }
  .nav.active {
    display: flex;
  }
}
@media screen and (max-width: 375px) {
  .nav a {
    font-size: 1.5rem;
    padding: 2.5em 0;
  }
}
/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.modal-content {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: var(--clr-light);
  color: var(--clr-dark-l);
  margin: auto;
  padding: 0.625em;
  width: 56.25rem;
  height: 31.25rem;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.modal-desc {
  max-width: 50%;
  flex: 1;
}
.modal-desc > * {
  padding: 0.3125em;
}
.modal-desc h3 {
  font-size: 2.1875rem;
}
.modal-desc h4 {
  font-size: 1.25rem;
}
.close-modal {
  position: absolute;
  cursor: pointer;
  top: -45px;
  right: -45px;
  font-size: 1rem;
  font-weight: 100;
  line-height: 50px;
  border-radius: 100px;
  border: 2px solid var(--clr-primary);
  width: 52px;
  height: 52px;
}

@media screen and (max-width: 1280px) {
  .modal-content {
    width: 39.375rem;
    height: 21.875rem;
  }
  .modal-desc {
    max-width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .modal-content {
    width: 15rem;
    height: 26.3125rem;
    /* max-width: 70%; */
  }
  .modal--img {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .modal-content {
    width: 13.75rem;
    height: 28.0625rem;
  }
}
